<h1>New Movie</h1>
<div class="container">
  <div class="jumbotron">

    <%= form_for @movie, method: 'POST' do |xx| %>
      <label for="cost1">title</label>
      <div> <%= xx.text_field :title %></div>
      <label for="cost1">Description</label>
      <div> <%= xx.text_field :description %></div>
      <label for="cost1">Duration</label>
      <div> <%= xx.text_field :duration %></div>
      <label for="cost1">Release Date</label>
      <div> <%= xx.text_field :release_date %></div>
      <label for="cost1">directors</label>
      <%= xx.collection_select(:director_id,Director.order(:first_name), :id,:first_name, include_blank: true) %>
      <label for="cost1">Actors</label>
      < no supecomo hacerlo funcionar con actor , la relaciones no son las mismas. xx.collection_select(:actor_id, Actor.order(:first_name), :id,:first_name, include_blank: true) >






      <a class="btn btn-primary m-1"  role="button"><%= xx.submit  %></a>


      </div>
    <%end%>

<%= link_to 'Back', movies_path %>
