
<%= form_tag("/persons/create", method: "post") do %>
  <%= label_tag(:first_name, "name:") %>
  <%= text_field_tag("first_name",) %>
  <%= label_tag(:last_name, " Last name:") %>
  <%= text_field_tag("last_name") %>
  <%= label_tag(:birth_date, "Birthday:") %>
  <%= text_field_tag("birth_date") %>
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag("Description") %>
  <div></div>

  <input type="radio" name="rol" value="actor" checked> Actor<br>
  <input type="radio" name="rol" value="director"> Director<br>
  <%= submit_tag("Submit") %>




<% end %>